version: "3.3"

services:
  web_app:
    container_name: app
    ports:
      - 8080:8080
    build:
      context: ./web_app
      dockerfile: Dockerfile
    command: ["npm", "run", "dev"]
    volumes:
      - ./web_app:/app
      - /web_app/node_modules/
  serv_go:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    command: ["./main"]
    ports:
    - 8081:8081